:80 {
    # Frontend served under /app/
    handle_path /app/* {
       reverse_proxy http://frontend:80
    }
    redir / /app/ 301 # Redirect to frontend per default

    # Default: backend
    handle {
       reverse_proxy http://backend:8080
    }
}